/* 初始化 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper {
    flex: 1;
    height: 50%;
}
.preview-wrapper {
    flex: 1;
    height: 50%;
}

.preview {
    height: 100%;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe600;
}
.wrapper {
    width: 100%;
    height: 178px;
    /* border: 1px solid red; */
    position: relative;
}

.nose {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px;
    border-color: black transparent transparent;
    border-radius: 11px;
    position: relative;
    left: 50%;
    top: 28px;
    margin-left: -12px;
    /* 等价的做法，把鼻子按中线对称 */
    /* transform: translateX(-50%) */
}

.eye {
    width: 49px;
    height: 49px;
    background-color: #2e2e2e;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #000;
}
.eye::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    left: 6px;
    top: -1px;
    border: 2px solid #000;
}
.eye.left {
    top:0;
    right: 50%;
    margin-right: 90px;
}
.eye.right {
    top:0;
    left: 50%;
    margin-left: 90px;
}

.face {
    width: 68px;
    height: 68px;
    background-color: #ff0000;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 85px
}
.face.left  {
    right: 50%;
    margin-right: 116px;
}
.face.right  {
    left: 50%;
    margin-left: 116px;
}

.upperLip {
    height: 20px;
    width: 80px;
    border: 3px solid black;
    position: absolute;
    top:52px;
    background-color: #ffe600;
}
.upperLip.left {
    right: 50%;
    border-bottom-left-radius: 40px 25px;
    border-top: none;
    border-right: none;
    transform: rotate(-20deg)
}
.upperLip.right {
    left: 50%;
    border-bottom-right-radius: 40px 25px;
    border-top: none;
    border-left: none;
    transform: rotate(20deg)
}

.lowerLip-wrapper {
    bottom: 0;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    height: 120px;
    overflow: hidden;
    width: 300px;
    /* border: 1px solid red; */
    /* z-index:-1; */
}
.lowerLip {
    height: 3513px;
    width: 300px;
    background-color: #9b000a;
    border-radius: 200px/2000px;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.lowerLip::after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 100px;
    height: 120px;
    background-color: #ff485f;
    left: 50%;
    margin-left: -50px;
    border-radius: 50px;
}
